.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.mobile-menu.open {
  transform: translateX(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px;
  background-color: #DCD1BF;
  width: 80%;
  display: flex;
  gap: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
